{% extends 'base.html' %} <!-- base.html 상속 선언 -->

{% block contents %}

<body>
    <div class="container">
        <br><br>
        {% for blog in posts %}
        <div class="card">
            <h3 class="card-header">{{blog.title}}</h3>
            <div class="card-body">
                <p class="card-title">{{blog.pub_date}}</p>
                <hr>
                <p class="card-text">{{blog.summary}}...</p>
                <a href="{%url 'detail' blog.id%}" class="btn btn-primary">...more</a>
            </div>
        </div>
        <br><br>
        {% endfor %}
        
        {# First, Previous #}
        {% if posts.has_previous %}
        <a href="?page=1">First </a>
        <a href="?page={{posts.previous_page_number}}">Previous</a>
        {% endif %}
        
        {# page number of numbers #}
        <span>{{posts.number}}</span>
        <span> of </span>
        <span>{{posts.paginator.num_pages}}</span>
        
        {# Next Last #}
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">Next </a>
        <a href="?page={{posts.paginator.num_pages}}">Last</a>
        {% endif %}
        
        {{weather}}
    </div>

</body>
{% endblock %}